<!-- Filtros y agregar -->
<app-delete *ngIf="toggle" [employeeId]="employeeId" ></app-delete>
<app-modal *ngIf="toggleF"></app-modal>
<div class="flex justify-between mt-14 container m-auto">
    <div class="flex ">
        <div class="flex mr-4">
            <div
                class="flex-shrink-0  inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-l-lg">
                Ordenar por
            </div>
            <select
            (click)="selectOrderType($event)"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-r-lg border-l-gray-100 border-l-2 block w-full p-2.5 focus:outline-none">
                <option selected>Ninguno</option>
                <option value="nombre">Nombre</option>
                <option value="salario">Salario</option>
            </select>
           
        </div>

        <div class="flex">
            <div
                class="flex-shrink-0  inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-l-lg">
                Filtrar por departamento
            </div>
            <select
                (click)="selectDepartment($event)"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-r-lg border-l-gray-100 border-l-2 block w-full p-2.5 focus:outline-none">
                <option selected>Todos</option>
                <option value="1">Departamento 1</option>
                <option value="2">Departamento 2</option>
            </select>
        </div>
        <div class="flex ml-4">
            <button
            (click)="applyFilter()" 
            class="border rounded-md p-3"><fa-icon [icon]="filter"></fa-icon>Aplicar filtros</button>
        </div>

    </div>

    <button 
    (click)="toggleForms()"
    type="button" 
    class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5"
        >
        <i class="fa-solid fa-plus"></i>
        Agregar
    </button>
</div>

<!-- Tabla de empleados -->
<div class="flex flex-col mt-10 container m-auto border-b border-gray-200 shadow sm:rounded-lg bg-gray-200 border">
    <div class="flex justify-between items-center p-6">
        <h1 class="font-bold text-xl">EMPLEADOS</h1>
        <div class="relative pull-right pl-4 pr-4 md:pr-0">
            <input type="search" placeholder="Search"
                class="w-full bg-white text-sm text-black transition border border-gray-200 focus:outline-none focus:border-gray-600 rounded py-1 px-2 pl-10 appearance-none leading-normal">
            <div class="absolute search-icon" style="top: 0.220rem;left: 1.75rem;">
                <i class="fa-solid fa-magnifying-glass text-gray-500"></i>
            </div>
        </div>
    </div>
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full overflow-hidden align-middle">
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            ID</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            NOMBRE</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            PUESTO</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            SALARIO</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            DEPARTAMENTO</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            UBICACIÓN</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            TELEFONO</th>
                        <th class="px-6 py-3 text-sm text-left text-gray-500 border-b border-gray-200 bg-gray-50"
                            colspan="3">
                            Action</th>
                    </tr>
                </thead>

                <tbody class="bg-white" *ngFor="let emp of employees; let i = index">
                    <tr>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="flex items-center">
                                <p>{{emp.id}}</p>
                            </div>

                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="text-sm leading-5 text-gray-900">
                                <p>{{emp.nombre}} {{emp.apellido}}</p>
                            </div>
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <p>{{emp.puesto}}</p>
                        </td>

                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                            <p>{{emp.salario}}</p>
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="text-sm leading-5 text-gray-900">
                                <p>{{emp.departamento.nombre}}</p>
                            </div>
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="text-sm leading-5 text-gray-900">
                                <p>{{emp.ubicacion}}</p>
                            </div>
                        </td>

                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                            <p>{{emp.telefono}}</p>
                        </td>

                        <td
                            class="text-sm font-medium leading-5 text-center whitespace-no-wrap border-b border-gray-200 ">
                            <button>
                                <i class="fa-regular fa-pen-to-square fa-xl text-indigo-600 hover:text-indigo-900"></i>
                            </button>
                        <td class="text-sm font-medium leading-5 whitespace-no-wrap border-b border-gray-200 ">
                            <button (click)="click(emp.id)">
                                <i class="fa-regular fa-trash-can fa-xl text-red-600 hover:text-red-800"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>